<mat-card class="mat-card-dashboard">
    <mat-vertical-stepper [linear]="isLinear" #stepper>
        <mat-step>
            <form>
                <ng-template matStepLabel>Informe a Localização</ng-template>
                <mat-form-field class="localizacao">
                    <input matInput placeholder="Buscar Localização" [(ngModel)]='location.address_level_1' name="searchEnd"
                        #search id="searchField">
                    <button mat-raised-button matSuffix color="primary" (click)="updateOnMap()">
                        <span>
                            Buscar
                        </span>
                    </button>
                </mat-form-field>
                <agm-map #map [latitude]="location.lat" [longitude]="location.lng" [zoom]="location.zoom" (mapClick)="mapaClicado($event)">
                    <agm-marker [latitude]="location.marker.lat" [longitude]="location.marker.lng"></agm-marker>
                </agm-map>
                <div class="enderecoFull">
                    <span>{{enderecoFull}}</span>
                    <mat-spinner color="accent" diameter="30" strokeWidth="3" *ngIf="isLoading"></mat-spinner>
                </div>

                <div class="botoes">
                    <button mat-raised-button matStepperNext (click)="proximaEtapa()" [disabled]="!enderecoFull">Próximo</button>
                </div>

            </form>
        </mat-step>
        <mat-step>
            <div class="dadosImovelForm">


                <div class="formulario">
                    <ng-template matStepLabel>Dados do imóvel</ng-template>


                    <mat-form-field class="tamanho1">
                        <input matInput placeholder="Título" [(ngModel)]="dadosImovel.titulo" name="titulo" maxlength="200">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-select placeholder="Tipo" [(ngModel)]="dadosImovel.tipo" name="tipo">
                            <mat-option *ngFor="let tipo of tipos" [value]="tipo.valor">
                                {{tipo.descricao}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-select placeholder="Tipo de Imóvel" [(ngModel)]="dadosImovel.tipoDeImovel" name="tipoImovel">
                            <mat-option *ngFor="let tipo of tipoImovel" [value]="tipo.valor">
                                {{tipo.descricao}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Preço" [(ngModel)]="dadosImovel.preco" name="preco" currencyMask
                            (ngModelChange)="somaValores()">
                        <span matPrefix>R$&nbsp;&nbsp;&nbsp;</span>
                    </mat-form-field>
                    <mat-form-field class="area">
                        <input matInput placeholder="Área" [(ngModel)]="dadosImovel.area" name="area">
                        <span matSuffix>m²</span>
                    </mat-form-field>
                    <mat-form-field class="wc">
                        <mat-select placeholder="WC" [(ngModel)]="dadosImovel.wc" name="wc">
                            <mat-option *ngFor="let wc of quantidades" [value]="wc.valor">
                                {{wc.valor}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="tamanho6">
                        <mat-select placeholder="Nº de Quartos" [(ngModel)]="dadosImovel.quartos" name="quartos">
                            <mat-option *ngFor="let quarto of quantidades" [value]="quarto.valor">
                                {{quarto.valor}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <section class="checkboxs">
                        <mat-checkbox [(ngModel)]="dadosImovel.condominio" name="condominio">Condominio</mat-checkbox>
                        <mat-form-field *ngIf="dadosImovel.condominio">
                            <input matInput placeholder="Valor Condominio" [(ngModel)]="condominioImovel.valorCondominio"
                                name="vrCondominio" currencyMask (ngModelChange)="somaValores()">
                            <span matPrefix>R$&nbsp;&nbsp;&nbsp;</span>
                        </mat-form-field>
                        <mat-form-field *ngIf="dadosImovel.condominio">
                            <input matInput currencyMask placeholder="Valor com Condominio" disabled value="{{condominioImovel.valorComCodominio}}"
                                name="valorCondominio">
                            <span matPrefix>R$&nbsp;&nbsp;&nbsp;</span>
                        </mat-form-field>
                        <mat-checkbox [(ngModel)]="dadosImovel.temIptu" name="temIptu">IPTU</mat-checkbox>
                        <mat-form-field *ngIf="dadosImovel.temIptu">
                            <input matInput placeholder="Valor do IPTU" [(ngModel)]="dadosImovel.iptu" name="iptu">
                            <span matPrefix>R$&nbsp;&nbsp;&nbsp;</span>
                        </mat-form-field>
                    </section>
                    <section class="checkboxs">
                        <mat-checkbox [(ngModel)]="dadosImovel.temVaga" name="ahVagas">Vaga de
                            estacionamento
                        </mat-checkbox>
                            <mat-select class="tamanho6" placeholder="Nº de Vagas" [(ngModel)]="dadosImovel.vagaEstacionamento" name="tVaga">
                                <mat-option *ngFor="let vaga of quantidades" [value]="vaga.valor">
                                    {{vaga.valor}}
                                </mat-option>
                            </mat-select>
                    </section>

                    <section class="grupos">
                        <section class="grupo1">
                            <input (change)="uploadImage($event)" placeholder="IMGS" type="file" [(ngModel)]="imagensInput">
                            <div class="blocos-imagens">
                                <div *ngFor="let m of dadosImovel.imgs; let i = index">
                                    <div class="image-pequena">
                                        <button mat-mini-fab (click)="removerImg(i)">
                                            <mat-icon style="margin-top: -16px;">close</mat-icon>
                                        </button>
                                        <img src="{{m.url}}" alt="">
                                    </div>
                                </div>
                            </div>
                        </section>

                        <section class="grupo2">
                            <mat-form-field class="campoDescricao" appearance="outline">
                                <textarea class="campoDescricao" maxLength="5000" [(ngModel)]="dadosImovel.descricao"
                                    #desc name="descricao" matInput placeholder="Descrição" type="text"></textarea>
                                <mat-hint align="end">{{desc.value.length}} / 5000</mat-hint>
                            </mat-form-field>
                        </section>
                    </section>

                    <section class="caracteristicas">
                        <mat-form-field class="checkboxCaracteristica">
                            <mat-select placeholder="Caracteristicas" [(ngModel)]="dadosImovel.caracteristicas" name="umselect"
                                multiple>
                                <mat-option *ngFor="let carac of caracteristicas" [value]="carac.valor">{{carac.caracteristica}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="chipList">
                            <mat-chip-list #chipList>
                                <mat-chip *ngFor="let caracteristica of dadosImovel.caracteristicas; let i = index"
                                    [selectable]="selectable">
                                    {{caracteristica}}
                                </mat-chip>
                            </mat-chip-list>
                        </mat-form-field>
                    </section>


                    <mat-divider></mat-divider>
                        <mat-form-field class="tamanho1">
                            <input matInput placeholder="Endereço Completo" disabled value="{{localizacao.enderecoCompleto}}"
                                name="endenreco">
                        </mat-form-field>
                        <mat-form-field class="tamanho2">
                            <input matInput placeholder="Rua" disabled value="{{localizacao.rua}}" name="rua">
                        </mat-form-field>
                        <mat-form-field class="tamanho5">
                            <input matInput placeholder="Número" [(ngModel)]="localizacao.numero" name="numero" maxlength=20>
                        </mat-form-field>
                        <mat-form-field class="tamanho3">
                            <input matInput placeholder="Bairro/Cidade" disabled value="{{localizacao.bairroCidade}}" name="bairroCidade">
                        </mat-form-field>
                        <mat-form-field class="tamanho3">
                            <input matInput placeholder="Complemento" [(ngModel)]="localizacao.complemento" name="complemento"
                                maxlength="100">
                        </mat-form-field>
                        <mat-form-field class="tamanho4">
                            <input matInput placeholder="País" disabled value="{{localizacao.pais}}" name="pais">
                        </mat-form-field>
                        <mat-form-field class="tamanho5">
                            <input matInput placeholder="Estado" disabled value="{{localizacao.estado}}" name="estado">
                        </mat-form-field>
                        <mat-form-field class="tamanho4">
                            <input matInput placeholder="Cep" disabled value="{{localizacao.cep}}" name="cep">
                        </mat-form-field>
                    <div class="botoes">
                        <button mat-button matStepperPrevious>Voltar</button>
                        <button mat-button matStepperNext>Proximo</button>
                    </div>

                </div>
            </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Done</ng-template>

            <mat-card>
                <mat-card-title>
                    TERMO DE USO
                </mat-card-title>
                <mat-card-content>

                    <div>
                        <p style="white-space: pre;">
                            Dessa forma, o termo de uso é caracterizado por conter as regras para utilização do
                            serviço,
                            sendo de interesse do proprietário do site/app possuir este tipo de contrato eletrônico
                            para se
                            resguardar de quaisquer riscos jurídicos. Por meio deste instrumento o prestador dos
                            serviços
                            pode delimitar as situações em que será responsável e por quais situações não poderá ser
                            imputável em caso de falhas. Para tanto, devem ser tomadas algumas precauções.

                            Em primeiro lugar, é importante definir exatamente o significado dos termos utilizados no
                            documento. Um site ou app geralmente possui uma linguagem muito específica, que pode gerar
                            dúvidas, motivo pelo qual a definição exata dos termos utilizados nos serviços oferecidos é
                            imprescindível.

                            Da mesma forma, a delimitação exata do escopo do serviço que o site/app oferece é
                            importante
                            para evitar quaisquer reclamações futuras que não estejam relacionadas ao que o site/app
                            oferece aos seus usuários.
                        </p>

                    </div>
                </mat-card-content>
            </mat-card>
            <mat-checkbox [(ngModel)]="termoUso" name="termo-uso">Eu Aceito todos os Termos de Uso.</mat-checkbox>
            <div class="botoes">
                <button mat-button matStepperPrevious (click)="reseta()">Voltar</button>
                <button mat-button [disabled]="!termoUso" (click)="enviarAnuncio()">Enviar Anuncio</button>
            </div>
        </mat-step>
    </mat-vertical-stepper>
</mat-card>
