mat-card {
    overflow: hidden;
}

mat-card-title > mat-toolbar{
    color: #FFF;
    background-image: linear-gradient(to right, #064253, #52BCDA);
}
.login-container    {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.login-card {
    margin-top: 50px;
    width: 400px;
}

form {
    display: flex;
    flex-direction: column;
}

mat-spinner {
    stroke: #FFF;
}

