<mat-card class="mat-card-dashboard">
    <mat-card-header>
        <h3>
            Imóveis
        </h3>
    </mat-card-header>

    <mat-card-content>

        <!-- <div id="map"></div> -->

        <agm-map [latitude]="minhaPosicao.latitude" [longitude]="minhaPosicao.longitude" [zoom]="minhaPosicao.zoom">
            <agm-marker  [latitude]="minhaPosicao.latitude" [longitude]="minhaPosicao.longitude" [iconUrl]="minhaPosicao.icone"></agm-marker>
            <agm-marker *ngFor="let imovel of imoveis" (markerClick)="openDialog(imovel)" [latitude]="imovel.cooordenadas.latitude" [longitude]="imovel.cooordenadas.longitude"></agm-marker>
        </agm-map>


    </mat-card-content>
</mat-card>