<mat-card class="mat-card-dashboard">
    <mat-card-header>
        <h3>
            Imóveis
        </h3>
    </mat-card-header>

    <mat-card-content>

        <!-- <div id="map"></div> -->

        <agm-map [latitude]="-8.181549" [longitude]="-34.919735" [zoom]="15">
            <agm-marker *ngFor="let imovel of imoveis" (markerClick)="openDialog(imovel)" [latitude]="imovel.localizacao.latitude" [longitude]="imovel.localizacao.longitude"></agm-marker>
        </agm-map>


    </mat-card-content>
</mat-card>