<div class="linha">
    <h2 mat-dialog-title>{{imovel.dadosDoImovel.titulo}}</h2>
    <mat-dialog-content height="600" class="mat-typography" >
        <div class="descricao">
            <p style="white-space: pre;">{{imovel.dadosDoImovel.descricao}}</p>
            <ul>
                <li *ngFor="let c of imovel.caracteristicas">{{c.caracteristica}}</li>
            </ul>
        </div>

        <div class="view">

            <div class="imagens-micro">
                <img *ngFor="let img of imagens" src="{{img.img}}" alt="">
            </div>

        </div>

    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
    </mat-dialog-actions>
</div>