mat-toolbar {
    background: var(--primary-dark-color);
}

.mat-icon {
    color: var(--icon-color)
}

.logo {
    text-transform: uppercase;
    color: var(--text-dak);
    font-family: monospace;
    font-weight: 700;
    padding: 0 10px;
}

mat-drawer-container>mat-drawer {
    width: 280px;
    background: var(--primary-dark-color);
}

.conteudo {
    height: calc(100% - 64px);
    overflow: hidden;
}

.menulist {
    color: var(--icon-color);
}

.mat-list-item:hover,
.mat-list-item:hover .material-icons {
    color: var(--text-dark);
    background: var(--primary-color)
}

mat-drawer-container>mat-drawer-content {
    background-color: #eceff4;
}

.mat-drawer-content {
    overflow: hidden;
}
