/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }




.spacer {
    flex: 1 1 auto;
}

.spinner {
    margin: 30px auto 0 auto;
}

.mat-card-dashboard {
    margin: 7px;
    height: 99vh;
}